#card {
    background-color: aliceblue;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

button {
    padding: 10px 20px; /*1 controlar em cima e embaixo e 2 controla as laterais*/
    border: none; /*sem borda*/
    background-color: #2563ed; /*cor interna*/
    color: white;
}

#nome, #tecnologia {
    margin: 20px auto; /*margin espaço por fora da caixa*/
    display: block; /*Ele fez cada input oculpasse uma linha inteira*/
    width: 90%;
    padding: 8px; /*largura do espaço interno da caixa*/
    border: 1px solid gray;
    box-sizing: border-box; /*Mantém o padding e a borda dentro da largura da caixa*/
}
